:root {
  --yellow: #ffbc00;
  --green: #99ffb1;
  --blue: #0043ff;
  --pink: #ff00c3;
  --cream:#FFE8A6
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  /* scroll-padding-top: 30em; */

}

*{
  margin:0;
padding:0;
box-sizing: border-box;
}

h3{

}

h4{

}

.btn{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding:1em 1.5em;
  background-color: var(--pink) ;
  color:#d3d3d3;
font-size: 1.5em;
border-radius: 1em;

}

.btn:hover,
.btn:focus{
  transform:scale(1.1);
  opacity:0.9;
  text-decoration: underline;
}

img{
  
}

.container{
width:95%;
margin:0 auto;
max-width:116em;
}

