:root {
  --yellow: #ffbc00;
  --green: #99ffb1;
  --blue: #0043ff;
  --pink: #ff00c3;
  --cream:#FFE8A6
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-padding-top: 40em;

}

*{
  margin:0;
padding:0;
box-sizing: border-box;
}


.container{
  width:100%;
  margin:0 auto;
  position: relative;

}

h3{
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

img{
  display:block;
  max-width: 100%;
}

.btn{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding:1em 1.5em;
  background-color: var(--pink) ;
  color:#d3d3d3;
font-size: 1.5em;
border-radius: 1em;

}

.btn:hover,
.btn:focus{
  transform:scale(1.1);
  opacity:0.9;
  text-decoration: underline;
}

#header{
  width:100%;
  margin: 0 auto;
  padding:5em 5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap:1em;
  /* background-color: var(--blue); */
  background-image: url(/img/logopale.png),linear-gradient(118.78deg, #0043ff 0%, #00C3FF 100%);
  background-blend-mode: multiply;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top:0;
  left:0;
  
}


#header-img{
  width: 20em;
  height: auto;
}


#title{
  font-size: 2em
}

#nav-bar ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap:1em;
  justify-content: center;
}


@media (max-width:600px){
#header{
  flex-wrap: wrap;
}

#header-img{
  width:70%;
}

}

.body{
  /* margin-top:30em; */
width:95%;
margin: 0 auto;
background-color: var(--cream);
}

#about{

  margin-top:31em;
}
#video{
  width:70%;
  height: auto;
  max-width: 100%;
  margin: 1em auto;
 
}

.showcase{
  display:flex;
  justify-content: center;
  gap:3em;
  flex-wrap: wrap;
}



.showcase-img{
  flex-basis: 40%;
  
}

.showcase-img>img{
  margin:1.5em 0 1.5em 0;
}

.showcase>*{
padding:4em 5em;

border:2px solid red;
text-align: center;
background-color: var(--green);
}

.price{
  font-size:3em;
  font-weight: 650;
  line-height: 1.7;
}

.basic{
  
}